
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="router2.php?action=CaveAccueil">LEUNDEU Pierre</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false" >Vin <span class="caret curseur_img"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=vinReadAll">Liste des vins</a></li>
                    <li><a href="router2.php?action=vinReadId&target=vinReadOne">Sélection d'un vin par son id</a></li>
                    <li><a href="router2.php?action=vinCreate">Insertion d'un vin</a></li>
                    <li><a href="router2.php?action=vinReadId&target=vinDeleted">Suppression d'un vin</a></li>
                </ul>
            </li>   
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">PRODUCTEUR <span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router2.php?action=producteurReadAll">Liste des Producteurs</a></li>
                    <li><a href="router2.php?action=producteurReadId&target=producteurReadOne">Sélection d'un Producteur par son id</a></li>
                    <li><a href="router2.php?action=producteurCreate">Insertion d'un Producteur</a></li> 
                     <li><a href="router2.php?action=producteurReadId&target=producteurDeleted">Suppression d'un producteur</a></li>
                    <li><a href="router2.php?action=producteurRegion">Liste des Régions sans doublons</a></li>                       
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">PROJET<span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router2.php?action=projetReadProducteur">Vins d'un producteur</a></li>
                    <li><a href="router2.php?action=projetReadSeuil">Liste des vins sous un dégré seuil</a></li>
                    <li><a href="router2.php?action=projetReadVin">Labéliser un  vin</a></li>                       
                    <li><a href="router2.php?action=projetFiltrer">Liste de vins spécifiques</a></li>     
                    <li><a href="router2.php?action=projetReadRegion">Liste de vins d'une région</a></li>  
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">DOCUMENTATION<span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router2.php?action=Document">Proposition d'amélioration</a></li>
                    <li><a href="router2.php?action=projetDoc">Mon Projet</a></li>
                </ul>
            </li>  
        </ul>
    </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

