
<!-- ----- debut fragmentCaveJumbotron -->

<div class="jumbotron">
  <h1>La cave de l'Utt </h1>
  <p class='text-muted'>C'est la meilleure cave de la région ....</p>
</div>
<p/>
<!-- ----- fin fragmentCaveJumbotron -->