
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="router1.php?action=CaveAccueil">LEUNDEU Pierre</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">Vin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router1.php?action=vinReadAll">Liste des vins</a></li>
                    <li><a href="router1.php?action=vinReadId">Sélection d'un vin par son id</a></li>
                    <li><a href="router1.php?action=vinCreate">Insertion d'un vin</a></li>                       
                </ul>
            </li>   
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">PRODUCTEUR <span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router1.php?action=producteurReadAll">Liste des Producteurs</a></li>
                    <li><a href="router1.php?action=producteurReadId">Sélection d'un Producteur par son id</a></li>
                    <li><a href="router1.php?action=producteurCreate">Insertion d'un Producteur</a></li>                       
                    <li><a href="router1.php?action=producteurRegion">Liste des Régions sans doublons</a></li>                       
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">PROJET<span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router1.php?action=producteurReadAll">Vins d'un producteur</a></li>
                    <li><a href="router1.php?action=producteurReadId">Sélection d'un Producteur par son id</a></li>
                    <li><a href="router1.php?action=producteurCreate">Insertion d'un Producteur</a></li>                       
                    <li><a href="router1.php?action=producteurRegion">Liste des Régions sans doublons</a></li>                       
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">DOCUMENTATION<span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="router1.php?action=documentation">Proposition d'amélioration</a></li>
                </ul>
            </li>  
        </ul>
    </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

