

.container {
    margin-top: 80px;
    background-color: 	rgb(70,130,180);
/*    opacity:90%;*/
    width: 90%;
}

.jumbotron {
    background-color:white;
   
}
h1 {
    font-size: 72px;
    color: black;
}

.jumbotron{
        background: url(../image/cave.jpg) no-repeat center center fixed ;
}
body {
    background-color: white;
    background: url(../image/vin_cursor.png),rgb(220,20,60) no-repeat center center fixed ;
    background-size: cover;
    opacity: 91%;  
}
